* {
  padding: 0;
  margin: 0;
}

.formations {
  width: 80%;

  margin: 20px auto;
}
.formations .btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background: linear-gradient(
    54deg,
    rgba(213, 211, 255, 1) 0%,
    rgba(188, 214, 255, 1) 56%,
    rgba(137, 79, 219, 1) 100%
  );
  background-repeat: no-repeat;
}

.wrapper {
  width: 80%;
  margin-top: 40px; 
  padding: 5px 10px;
  background-color: #17191f;
  border-radius: 5px;
}

.campo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0;
  margin: 10px auto;
  padding: 0 0 60% 0;
  /*background: green;*/
  /* background-color: rgb(27,31,38); */
  background-color: #17191f;
}
.campo div {
  transition: 2s;
}

.interior,
.divisoria,
.semi1,
.semi2,
.corner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid #323642;
}

.divisoria:after,
.divisoria:before {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  width: 0;
  height: 100%;
  margin-left: 0.5px;
  border: 0.5px solid #323642;
}

.divisoria:before {
  top: 50%;
  width: 17%;
  height: 0;
  margin: -8% 0 0 -8%;
  margin-top: calc(-8% - 4px);
  margin-left: calc(-8% - 0.5px);
  padding-bottom: 17%;
  border-radius: 50%;
  border: 1px solid #323642;
}

.campo:before,
.campo:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -8% 0 0 -1px;
  display: block;
  width: 8%;
  height: 30%;
  border: 1px solid #323642;
  z-index: 2;
}

.campo:after {
  left: auto;
  right: -2px;
}
.row {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.cardcount {
  width: 85%;
  /* height: 500px; */
  /* display: none; */
  /* border-radius: 15px; */
}
.cardcount .contents {
  height: 200px;
  text-overflow: clip;
  overflow-x: hidden;
}

.interior:before,
.interior:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin: -16% 0 0 -1px;
  display: block;
  width: 16%;
  height: 55%;
  /*background: rgb(27,31,38);*/
  background-color: #17191f;
  border: 1px solid #323642;
}

.interior:after {
  left: auto;
  right: 0;
  margin: -16% -1px 0 0;
}

.semi2:before {
  left: auto;
  right: 12%;
}

.semi1:after,
.semi2:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 16%;
  height: 0;
  margin: -8% 0 0 0;
  padding-bottom: 16%;
  border: 1px solid #323642;
  border-radius: 50%;
}

.semi2:after {
  left: auto;
  right: 5%;
}
.color {
  color: rgb(53, 40, 231);
  font-size: 20px;
  text-align: center;
}
#gk {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#lb {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#cb {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#rb {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#lwb {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#dm {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#rwb {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#lm {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#cm {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

#rm {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}
  .mycards{
    transition: 1s;
  }

#amr {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 3%;
  height: 5%;
  background-color: #4f7edc;
  border: 1px solid #324978;
  border-radius: 50%;
  z-index: 2;
}

.reset button {
  display: flex;
  margin: 40px auto;
  padding: 10px 40px;
}

.btn-group {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1f);
  gap: 30px;
}

.reset button {
  display: flex;
  margin: 40px auto;
  padding: 10px 40px;
  background-color: rgb(139, 2, 25);
}

.dropdown button {
  display: flex;
  margin: 40px auto;
  padding: 10px 40px;
  background-color: rgb(70, 70, 139);
}


.bi{
  width: 100%;
  text-align: center;
}
.h1{
  font-weight: bold;
  font-size: 45px;
}

@media screen and (max-width: 390px) {
  .row {
    height: 660px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mycards{
    height: 375px;
  }
  .cardcount .contents {
    height: 135px;
  }
}

.title h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

