@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    54deg,
    rgba(213, 211, 255, 1) 0%,
    rgba(188, 214, 255, 1) 56%,
    rgba(137, 79, 219, 1) 100%
  );
  background-repeat: no-repeat;
}

.hero {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  width: 95%;
  height: 85vh;
  margin: 20px auto 0px auto;
}

.leftcontent {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 46px;
  color: rgb(44, 44, 44);
  max-width: 70%;
  margin: auto 0px auto 80px;
}

.btn1 {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  background-color: rgb(148, 148, 217);
  border: none;
  border-radius: 20px;
  padding: 20px 70px;
  max-width: 100%;
  width: 350px;
}

.btn1:hover {
  background-color: rgb(191, 161, 255);
}

.rightimg {
  margin: auto 0px auto 180px;
  max-width: 50%;
}

.rightimg img {
  width: 90%;
  height: 100%;
}

.para {
  width: 450px;
  max-width: 90%;
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  color: rgb(124, 124, 124);
}

.title {
  width: 600px;
  max-width: 100%;
  font-size: 42px;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
}

/* using grid for cards in about us page */

.cardcont {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 50px auto;
}

.mycards {
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
}

.img-section {
  height: 225px;
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mycards .img-one {
  background-image: url("img/tac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mycards .img-two {
  background-image: url("img/tac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mycards .img-three {
  background-image: url("img/tac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mycards .img-4 {
  background-image: url(https://www.directionsksa.com/sites/default/files/styles/650xauto/public/2020-06/%D8%A7%D9%84%D8%AF%D9%8A%D8%B3%D8%A9%20-%20%D8%AA%D8%B5%D9%88%D9%8A%D8%B1%20%D8%B9%D9%84%D8%A7%D8%A1%20%D8%B9%D8%AB%D9%85%D8%A7%D9%86.jpg?itok=_v37uLbu);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mycards .img-5 {
  background-image: url(https://www.cruisemapper.com/images/ports/10144-bc7d0d8647.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mycards .img-6 {
  background-image: url(https://welcomesaudi.com/uploads/0000/1/2021/07/23/taif.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contents {
  padding: 20px;
  text-align: center;
  align-items: center;
}

.contents p {
  text-align: justify;
}

.contents h2 {
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.contents .links {
  text-align: center;
  align-items: center;
}

button {
  text-decoration: none;
  border: none;
  background-color: rgb(152, 182, 255);
  border-radius: 18px;
  padding: 17px 40px;
  color: white;
}

.links {
  text-decoration: none;
  color: white;
}

button .links:hover {
  color: white;
}

/* .table{} */
.tables {
  margin: 30px 40px;
}

.mytable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 0.3px solid;
}
