*{
    margin: 0;
    padding: 0;
}

body{
    /* background: linear-gradient(rgb(97, 97, 97),green); */
    background: rgb(58, 58, 58);
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: white;
}
li{
    color: white;
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
header ul li{
    margin-right: 30px;
}

header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover, .active{
    background: white;
    color: black;
}

.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    /* background: linear-gradient(to top,rgb(255, 255, 255),transparent); */
}

.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit:fill;
    margin-top: 20%;
}

.couch{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
    transform: translateY(-40px);
    margin-top: 100%;
    border-radius: 7px;
    border-color: aliceblue;
}

/* #btn{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-180px);
    margin-top: 50%;
    flex-direction: column;
} */

#img1{
    height: 2100px;
}
#img2{
transform: translateX(-30px);
width: 600px;
height: 600px;

}
#img3{
transform: translateX(49px);
width: 500px;
height: 500px;
}
#img4{
    transform: translateX(49px);
    width: 300px;
    height: 500px;
} 
.content{
    background: linear-gradient(green , black);
    color: yellow;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px;
}

#footer{
    transform: translateY(220px);
    font-size: 50px;
    width: 300px;
    height: 100px;
    background-color: rgb(0, 89, 30);
    margin-left: 35%;
    margin-top: 30%;
}
#footer a:hover{
    color: black;
    transform: scale(2);
    

}